### Swift ###
# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData/

## User settings
xcuserdata/

# Ignorer le fichier spécifique
MediStock/GoogleService-Info.plist
 
### Xcode Patch ###
*.xcodeproj/*
!*.xcodeproj/project.pbxproj