### Swift ###
# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
xcuserdata/

## Build generated
build/
DerivedData/

# Ignorer le dossier Screenshots
Rebonnte_P16DAIOS/Screenshots/



# Ignorer tous les fichiers .plist sauf ceux spécifiquement mentionnés
./MediStock/Model/GoogleService-Info.plist
./pack-Info.plist
*.plist

### Xcode Patch ###
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
*.save

# CocoaPods (si utilisé)
Pods/
*.xcworkspace

# Archives et symboles de crash
*.xcarchive
*.dSYM.zip
*.dSYM

# Carthage (si utilisé)
Carthage/

# Swift Package Manager (SPM)
.swiftpm/
Package.resolved

# Fichiers système macOS
.DS_Store
